* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}


header img {
    height: 120vh;
    width: 98.9vw;
}

header div h1 {
    font-family: 'Open Sans';
    font-size: 5em;
    color: white;
    position: absolute;
    top: 8%;
    left: 32%;
}

@media only screen and (max-width: 830px) {
    header div h1 {
        font-size: 3em;
        left: 10%;
    }
}

header div p {
    font-family: 'Libre Baskerville';
    font-size: 18px;
    color: grey;
    position: absolute;
    top: 15%;
    left: 32%;
    width: 37%;
    text-align: center;
    line-height: 2;
    word-wrap: inherit;
}


@media only screen and (max-width: 1280px) {
    header div p {
        font-size: 1em;
        width: 85%;
        left: 5%;
        height: 1em;
        text-align: center;
    }
}

header div p span {
    color: white;
}

/* Icons */

.icons {
    position: absolute;
    top: 25%;
    left: 37%;
}

.icons i {
    color: white;
    margin-right: 1em;
}

.icons i:hover {
    cursor: pointer;
    transition: all 1s ease;
    color: lightseagreen;
} 

@media only screen and (max-width: 830px) {
    .icons {
        left: 10%;
    }
}

@media only screen and (max-width: 1170px) {
    .main_section {
        height: auto;
        width: 120%;
    }
}


/* About section */

section {
    height: 80vh;
    background-color: #2B2B2B;
}

.main_section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20%;
    padding-top: 10em;
    margin-top: -5px;
}

.main_section_1 {
    padding-right: 5em;
    display: block;
}

.main_section_2 h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.main_section_2 p {
    line-height: 1.7;
    margin-top: 1em;
    margin-bottom: 1em;
    word-wrap: normal;
    font-size: 18px;
    color: grey;
}

.main_section_2 {
    width: 50%;
}

.main_section_2_sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_section_2_sub div button span {
    font-family: 'Open Sans';
    color: white;
    padding-left: 1em;
    font-size: 18px;
}

.main_section_2_sub div button i {
    color: white;
}

.main_section_2_sub div button {
    background-color: #444;
    padding: 1em;
    border: none;
}

.main_section_2 div button:hover {
    cursor: pointer;
    transition: all 1s ease;
    background-color: white;
}

.main_section_2 div button:hover span {
    color: black;
}

.main_section_2 div button:hover i {
    color: black;
}

@media only screen and (max-width: 830px) {
    .main_section_1 {
        display:none;
    }
}

@media only screen and (max-width: 1170px) {
    .main_section_2_sub {
        display: block;
    }
}
